<style>
  .modal-content {
      background-color: #212121

  }
</style>

<!-- Market INFO Modal -->
<div class="modal fade" id="infoModal-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">{{ item.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ item.desc }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<!-- Market Purchase Modal -->
<div class="modal fade" id="purchaseModal-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="purchaseModalLabel">{{ item.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="POST">
                    <!--Always put the below hidden tag in form whenever you are working with form  -->
                    {{ purchase_form.hidden_tag() }}
                    <h4 class="text-center">
                        Are you sure you want to buy {{ item.name }} for {{ item.price }}$ ?
                    </h4>
                    <br>
                    <h6 class="text-center">
                        By clicking purchase, You will purchase this Item
                    </h6>
                    <br>
                    <input id="purchased_item" name="purchased_item" type="hidden" value="{{ item.name }}">
                    {{ purchase_form.hidden_tag() }}
                    {{ purchase_form.submit(class="btn btn-outline-success btn-block") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
